<div>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>{{first_name}}</p>
    <p>{{last_name}}</p>
    <p>{{age}}</p>
    <p>{{role}}</p>
    <a href="/api/sessions/logout"><button>Salir</button></a>
</div>