<div>
    <header>
        <h1>Product manager con Websockets</h1>
    </header>
    <div class="container">
        <form id="formulario">
            <h2>Carga de productos</h2>
            <div>
                <label for="title">Title:  </label>
                <input type="text" id="title" name="title"><br>
            </div>
            
            <div>
                <label for="description">Description:  </label>
                <textarea id="description" name="description"></textarea><br>
            </div>
            <div>
                <label for="price">Price:  </label>
                <input type="number" id="price" name="price"><br>
            </div>
            <div>
                <label for="thumbnails">Thumbnails:  </label>
                <input type="text" id="thumbnails" name="thumbnails"><br>
            </div>
            <div>
                <label for="status">Status:  </label>
                <select id="status" name="status" type="boolean">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select><br>
            </div>
            <div>
                <label for="code">Code:  </label>
                <input type="text" id="code" name="code"><br>
            </div>
            <div>  
                <label for="stock">Stock:  </label>
                <input type="number" id="stock" name="stock"><br>
            </div>
             <div>  
                <label for="category">Category:  </label>
                <input type="text" id="category" name="category"><br>
            </div>

            <input id="addProduct"  type="submit" value="Agregar Producto">
        </form>

        <div id="liveProducts">
           
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/js/realTimeProducts.js"></script>