<div>
    <header>
        <h1>Carrito de compras: </h1>
        <p>Codigo de Identificacion: {{_id}}</p>
    </header>

    <div class="container">
       {{#each cart.products}}


       {{/each}}
    </div>
  
    
    
</div>